<ion-tabs>
  <ion-tab-bar color="primary">
    <ion-tab-button tab="homefeed">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dollar">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Dollars</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="medics">
      <ion-icon name="briefcase-outline"></ion-icon>      
      <ion-label>Birefcase</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="carts">
      <ion-icon name="cart"></ion-icon>      
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="policies">
      <ion-icon name="document-attach"></ion-icon>   
      <ion-label>Policies</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="mutualfund">      
      <ion-label>mutualfund</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insurance">      
      <ion-label>insurance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="realestate">
      <ion-label>realestate</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
